<ul class="list-group ul-list">
    <li class="list-group-item row rowHeader">
        <div class="col-md-3 col-sm-4">Book Title</div>
        <div class="col-md-5 col-sm-3">Rating</div>
        <div class="col-md-3 col-sm-4">Action</div>
        <div class="col-md-1 col-sm-1"></div>
    </li>
    <li [ngClass]="{
            'list-group-item': true,
            'row': true,
            'rowContent': true,
            'isDeleteSelected': item.isSelected
        }"   
            *ngFor="let item of bookList | 
            sortByRating: 'rating'">
            
        <div class="col-md-3 col-sm-4">{{item.bookTitle}}</div>
        <div class="col-md-5 col-sm-3">
            <span class="badge">{{item.rating}}</span>
        </div>
        <div class="col-md-3 col-sm-4">
            <div *ngIf="!item.isSelected" [ngClass]="'cssCircle minusSign'" id="{{item._id}}" (click)="onRowDelete($event)">
                &#8211;
              </div>
        </div>
        <div [ngClass]="{
                'col-md-1': true,
                'col-sm-1': true,
                'cssCircle': true,
                'cssSquare': true,
                'fillSquare': item.isSelected
            }" 
           id="{{item._id}}" 
        (click)="onRowSelect($event)"></div>
    </li>
    <li *ngIf="!bookList.length" class="no-books">
            There are no Favorite Books, Please Add.
    </li>
</ul>