.rowHeader {
    background-color: #dcdcdc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
  }

  .badge {
    float: none !important;
  }

  .rowContent {
    padding: 2px 15px !important;
  }
  .rowContent:nth-child(odd){
    background-color: #dcdcdc;
  }

  .cssCircle {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 23px;
    height: 23px;
    padding: 0px;
    background:orange;
    border: 1px solid #003580;
    color: #003580;
    text-align: center;
    font: 13px Arial, sans-serif
  }

  .cssSquare {
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: none !important;
    width: 23px;
    height: 23px;
    padding: 0px;
    border: 2px solid #003580;
    color: #003580;
    text-align: center;
    font: 13px Arial, sans-serif
  }

  .fillSquare {
    padding: 2px;
    background:green !important;
  }

.no-books {
    font-stretch: expanded;
    font-size: 20px;
    margin: 14px 0px 15px 0px;
    color: blueviolet;
    list-style: none;
}    
.minusSign {
    margin-bottom: 1px;
    font-size: 22px;
    font-weight: bolder;
    line-height: 20px;
    cursor: pointer;
}

  .isDeleteSelected {
    background-color: moccasin !important;
    border-radius: 5px;
    border: 4px dashed;
  }
  
  .circle-to-select-row {
    width: 26px;
    height: 26px;
    padding: 0px;
    background-color: white;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    
    border: 2px solid black;
    color: #003580;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }