.panel-border-disable {
    border: none !important;
    box-shadow: none !important;
    margin: -15px 0px !important;
}

.custom-menu {
   color: #FFFFFF;
   background-color: #4CAF50 !important;
   margin: 2px;
   text-decoration: none !important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 20px;
    border-radius: 9px;
    font-weight: bold;
 }

 .add-button {
    color: white;
 }

 .delete-button {
   background-color: red !important;
   float:right;
   color: saddlebrown;
}