<div class="panel panel-default">
  <div class="panel-heading">Books
    <div> Home</div>
  </div>
  <div class="panel-body">
      <div class="row rowHeader">
          <div class="col-md-4 col-xs-6">
            Book Title
          </div>
          <div class="col-md-4 col-xs-6">
              Author
          </div>
          <div class="col-md-4 col-xs-6">
          Rating
            </div>
        </div>

        <div class="row rowContent" *ngFor="let item of bookList" >
            <div class="col-md-4 col-xs-6">
                <a ng-href="#">
                  <div>{{item.bookTitle}}</div>
                </a>
            </div>
            <div class="col-md-4 col-xs-6">
                <a ng-href="#">
                    <div>{{item.authorName}}</div>
                </a>
            </div>
            <div class="col-md-4 col-xs-6">
                <a ng-href="#">
                    <div>{{item.rating}}</div>
                </a>
              </div>
          </div>
   
  </div>
</div>
